# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Intermediate files
*.exp
*.pdb
*.bsc
*.user
Win32
x64
.vs

# C++ Builder files
__history
__recovery
__astcache
*.cbproj.local
Win64

# Doxygen files
doc/html
doc/latex

# Cmake files
build/cmake

# Backup files
*.bak
